* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.main-body {
  position: relative;
  width: 1280px;
  height: 800px;
  font-size: 0;
}

.main-body:before {
  content: '';
  position: relative;
  z-index: -1;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
  background-color: #ffedf7;
}

.main-body:after {
  content: '';
  position: relative;
  z-index: -1;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 100%;
  background-color: #003164;
}

.main-body > .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 0 0 85px;
}
